<div class="page-header">
  <h1>Repos</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Repo</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td>
          <% unless repo.persisted? %>
            <%= link_to "Create", repositories_path(repo: repo.name), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
