<div class="page-header">
  <h1>Repos</h1>
</div>

<table class="table table-bordered table-striped">
  <% @repositories.each do |repo| %>
    <tr data-repo="<%= repo.name %>">
      <td><%= repo.name %></td>
      <td>
        <% if repo.persisted? %>
          <%= link_to 'Disable', repo, method: :delete, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'Enable', repositories_path(repository: { name: repo.name }),
            method: :post, class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
